/* 
Code Explanation:
The code snippet defines CSS styles for various elements in a web page. It sets the box-sizing property to border-box and the color property to white for all elements. It also defines styles for the container, header, line, nav-lists, nav, head, button, box, side-box, one1, h3, side-note, one2, h5, side-p, flexbox, person, side-img, and note classes and elements. These styles include background colors, background images, display properties, margin and padding values, text alignment, font families, and width and height values.
*/

* {
    box-sizing: border-box;
    color: white;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./pexels-karolina-grabowska-4386158.jpg) no-repeat;
    background-size: cover;
}

.header, .professionals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    font-family: 'Open Sans', sans-serif;
}

.line {
    background-color: white;
    width: 100%;
    height: 0.1rem;
    margin: 1rem 0;
}

.nav-lists {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}

.nav {
    font-family: 'Open Sans', sans-serif;
    margin: 0.5rem;
    padding-top: 2rem;
    list-style-type: none;
    text-decoration: none;
}

.nav:hover {
    color: black;
}

.head {
    text-align: center;
    margin: 20% 0 30%;
    font-family: 'Open Sans', sans-serif;
}

button {
    background-color: #000000;
    padding: 1rem;
    border: none;
    border-radius: 50rem;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}

.dedicated-professionals, .side-box, .approach, .services, .testimonials, .contact {
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
}

.section-title, .professional-name, .side-note {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.section-description, .professional-role, .side-p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(100, 100, 100);
}

.side-box, .approach-flexbox, .flexbox, .promo {
    display: flex;
    flex-direction: row;
}

.professional, .flex, .first-name, .last-name {
    padding: 1rem;
}

.side-img {
    width: 50%;
}

.note, .flexboxs {
    margin: auto;
}

.side-person {
    width: 5%;
    border-radius: 50%;
    margin: 1rem;
}

.subjects, .name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.professional-image {
    width: 50%
}

.input {
    width: 12rem;
    height: 2.5rem;
    border-radius: 3rem;
    color: #000000;
    padding: 1rem;
}

.output {
    width: 26rem;
    height: 2.5rem;
    border-radius: 3rem;
    color: #000000;
    padding: 1rem;
}

.message {
    width: 26rem;
    height: 25rem;
    border-radius: 2.5rem;
    color: #000000;
    padding: 1rem;
}

.button {
    margin-top: 1rem;
}

footer {
    background-color: #000000;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 2rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.links {
    margin-left: 20rem;
    margin-right: 5rem;
}

.nav-footers {
    list-style-type: none;
}

.footer-nav {
    text-decoration: none;
}

.footer-input {
    width: 15rem;
    height: 2.5rem;
    border-radius: 3rem;
    color: #000000;
    padding: 1rem;
}

.footer-btn {
    background-color: white;
    color: black;
    padding: 1rem;
    border: none;
    border-radius: 50rem;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: black;
    color: white;
}